<!-- <p>home works!</p> -->
<!-- <ul class="list-group"> -->
    <!-- <li  *ngFor="let post of posts" class="list-group-item"> -->
        <!-- {{ post.image.url}} -->
        <!-- img = this.imageSource -->
<!-- <img  class="images" src={{post.image.url}}/>  -->
<!-- <img class="images" [src]="img"/> -->
    <!-- </li> -->
  <!-- </ul> -->


  <!-- <mat-grid-list cols="4" *ngFor="let post of posts">
    <mat-grid-tile> <img  class="images" height="45px" width="45px" src={{post.image.url}}/> </mat-grid-tile>
 
  </mat-grid-list> -->


<div>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput type="text" id="search" [(ngModel)]="breedSearch">
   
  </mat-form-field>
</div>
<div>
  <mat-card class="example-card" *ngFor="let post of posts | filter:breedSearch ">
    <mat-card-header >
      <!-- <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      <img mat-card-image  src={{post.image.url}}  alt="Photo of a Shiba Inu">

    </mat-card-header>
    <mat-card-content>
      <p>
      {{post.breed_group}}

      </p>
    </mat-card-content>
 
  </mat-card>
</div>